
/* 헤더 부분 색깔 */
.bannerbackcloor {
  background: linear-gradient(
    90.11deg,
    rgba(255, 157, 11, 1) 0%,
    rgba(255, 129, 24, 1) 54%,
    rgba(255, 71, 51, 1) 100%
  );
  width: 1980px;
  height: 115px;
  position: absolute;
  left: 0px;
  top: 0px;
}


/* 배너 부분 부모요소 배경색*/
.backcolor3 {
  background: #ff9d0b;
  width: 404px;
  height: 74px;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* 배너 부분의 자식요소 글자*/
.best-price {
  color: #ffffff;
  background-color: #ff9d0b;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  margin: 0;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 185px);
  top: calc(50% - 45px);
}

/* 검색 부모 요소 */
.serchcss {
  background: #ffffff;
  width: 960px;
  height: 49px;
  position: absolute;
  left: calc(50% - 502px);
  top: calc(50% - 479px);
  overflow: hidden;
}
/* 돋보기 아이콘 자식요소 */
.rectangle-2 {
  background: #ffcb77;
  width: 59px;
  height: 54px;
  position: absolute;
  left: calc(50% - -421px);
  top: calc(50% - 29.5px);
}
.ellipse-1 {
  background: #111211;
  border-radius: 50%;
  width: 29px;
  height: 30px;
  position: absolute;
  left: 909px;
  top: 2px;
}
.ellipse-2 {
  background: #ffc861;
  border-radius: 50%;
  width: 23px;
  height: 24px;
  position: absolute;
  left: 912px;
  top: 5px;
}
.rectangle-1 {
  background: #000000;
  width: 27px;
  height: 4px;
  position: absolute;
  left: 934.76px;
  top: 25px;
  transform-origin: 0 0;
  transform: rotate(43.606deg) scale(1, 1);
}

/* 마이페이지 부모요소*/
.myiconback {
  background: #ffffff;
  width: 89px;
  height: 73px;
  position: absolute;
  left: calc(50% - -658px);
  top: calc(50% - 493px);
  overflow: hidden;
}
/* 자식요소 */
.myicon {
  width: 89px;
  height: 73px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  font-size: 20px;
}

/* 회원가입 아이콘 부분 부모요소*/
.butonback {
  width: 85px;
  height: 76px;
  position: absolute;
  left: calc(50% - -543px);
  top: calc(50% - 492px);
  overflow: visible;
}
/* 회원가입 아이콘 부분 자식 요소*/
.buton {
  width: 85px;
  height: 76px;
  font-size: 20px;
  left:calc(50% - 700px);
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
/*--------------위졲은 헤더 부분 ----------------------*/


/* 로그인 회원가입 css창 버튼 */
.tabbb {
  background: var(--gray-00, #ffffff);
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 10px;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 375px);
  box-shadow: inset 0px -3px 0px 0px rgba(250, 130, 50, 1),
    inset 0px 1px 0px 0px rgba(228, 231, 233, 1),
    inset 1px 0px 0px 0px rgba(228, 231, 233, 1);
}
tabbb:hover {
  background-color: white;
}
.signin {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: white;
  border-color: #ff9721;
  top: 20px;
  font-size: 30px;
}
signin:focus{
  background-color: #febb69;
}
.tabbb2 {
  background: var(--gray-00, #ffffff);
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 10px;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 375px);
  box-shadow: inset 0px -1px 0px 0px rgba(218, 218, 218, 1),
    inset 0px 1px 0px 0px rgba(228, 231, 233, 1),
    inset 1px 0px 0px 0px rgba(228, 231, 233, 1);
}

/*-------------- 로그인 / 회원가입 부분 --------------------- */










/*회원가입 폼 부모 요소 */
.createframefull {
  background: #febb69;
  width: 420px;
  height: 600px;
  position: absolute;
  left: 790px;
  top: 250px;
  overflow: hidden;
}
/* 사용자 입력 배경 css*/
.inputback {
  background: var(--gray-00, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 320px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 27px;
  font-size: 30px;
}
/* 사용자 입력 값  글씨 css*/
.filename {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 170px);
    top: 0px;
}
/* 구조 틀 배경들  css*/
.nick {
  background: #ffe479;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 9px;
  overflow: hidden;
}
.nick3 {
  background: #ffe479;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 97px;
  overflow: hidden;
}
.nick4 {
  background: #ffe479;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 179px;
  overflow: hidden;
}
.nick5 {
  background: #ffe479;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 261px;
  overflow: hidden;
}
.nick6 {
  background: #ffe479;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 343px;
  overflow: hidden;
}
.nick7 {
  background: #ffe479;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 29px;
  top: 425px;
  overflow: hidden;
}
/* 회원가입 버튼 배경 css*/
.buttonfull {
  background: #929292;
  width: 120px;
  height: 43px;
  position: absolute;
  left: 33px;
  top: 516px;
}
/* 회원가입 버튼 글씨 css*/
.buttonfulll {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17.538890838623047px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  left: 32px;
  top: 510px;
  width: 125px;
  height: 50px;

}


