/*--------------위졲은 헤더 부분 ----------------------*/


/* 로그인 회원가입 css창 버튼 */
.tabbb {
  background: var(--gray-00, #ffffff);
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 10px;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 375px);
  box-shadow: inset 0px -3px 0px 0px rgb(195, 195, 195),
    inset 0px 1px 0px 0px rgba(228, 231, 233, 1),
    inset 1px 0px 0px 0px rgba(228, 231, 233, 1);
}
tabbb:hover {
  background-color: white;
}
.signin {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: white;
  border-color: #b8b8b8;
  top: 20px;
  font-size: 30px;
}
signin:focus{
  background-color: #858585;
}
.tabbb2 {
  background: var(--gray-00, #ffffff);
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 10px;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 375px);
  box-shadow: inset 0px -1px 0px 0px rgba(218, 218, 218, 1),
    inset 0px 1px 0px 0px rgba(228, 231, 233, 1),
    inset 1px 0px 0px 0px rgba(228, 231, 233, 1);
}

/*-------------- 로그인 / 회원가입 부분 --------------------- */










/*회원가입 폼 부모 요소 */
.createframefull {
  background: #6e6e6e;
  width: 420px;
  height: 600px;
  position: absolute;
  left: 790px;
  top: 250px;
  overflow: hidden;
}
/* 사용자 입력 배경 css*/
.inputback {
  background: var(--gray-00, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 320px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 27px;
  font-size: 30px;
}
.inputback:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
/* 사용자 입력 값  글씨 css*/
.filename {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 170px);
    top: 0px;
}
/* 구조 틀 배경들  css*/
.nick {
  background: #cccccc;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 9px;
  overflow: hidden;
}
.nick:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick3 {
  background: #cccccc;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 97px;
  overflow: hidden;
}
.nick3:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick4 {
  background: #cccccc;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 179px;
  overflow: hidden;
}
.nick4:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick5 {
  background: #cccccc;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 261px;
  overflow: hidden;
}
.nick5:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick6 {
  background: #cccccc;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 27px;
  top: 343px;
  overflow: hidden;
}
.nick6:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick7 {
  background: #cccccc;
  width: 360px;
  height: 71px;
  position: absolute;
  left: 29px;
  top: 425px;
  overflow: hidden;
}
.nick7:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
/* 회원가입 버튼 배경 css*/
.buttonfull {
  background: #929292;
  width: 120px;
  height: 43px;
  position: absolute;
  left: 33px;
  top: 516px;
}
/* 회원가입 버튼 글씨 css*/
.buttonfulll {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17.538890838623047px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  left: 32px;
  top: 510px;
  width: 125px;
  height: 50px;

}
.buttonfulll:hover {
  transform: scale(1.1);     
  transition: transform 0.3s ease;
}


