/*--------------위졲은 헤더 부분 ----------------------*/


/* 로그인 회원가입 css창 버튼 */
.tabbb {
  padding: 16px 0px 16px 0px;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 10px;
  position: fixed;
  left: 1090px;
  top: 75px;
}
@media screen and (max-width: 768px) {
  tabbb{
    display: block;
    margin-right: 0;
  }
}
.signin {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: rgb(177, 236, 76);
  border-color: #acff5a;
  top: 30px;
  font-size: 30px;
}
signin:focus{
  background-color: #858585;
}
.tabbb2 {
  padding: 16px 0px 16px 0px;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 10px;
  position: absolute;
  left: 690px;
  top: 75px;
  position: fixed;
}

/*-------------- 로그인 / 회원가입 부분 --------------------- */










/*회원가입 폼 부모 요소 */
.createframefull {
  background: #64fe92;
  overflow: hidden;
  border-radius: 4%;
  border: 3px solid rgb(107, 251, 208);
  box-shadow: 10px 10px 10px rgba(150, 255, 201, 0.3);
  position: fixed;
  width: 22vw;
  height: 50vh;
  left: 45vw;
  top: 25vh;
}

/* 사용자 입력 배경 css*/
.inputback {
  background: var(--gray-00, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 320vw;
  height: 1.3vh;
  position: absolute;
  top: 2.3vh;
  font-size: 30px;
  border: none;
  outline: none;
}
/* 사용자 입력 값  글씨 css*/
.filename {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  left: 1vw;
}
/* 구조 틀 배경들  css*/
.nick {
  background: #c6f8a5;
  width: 18.5vw;
  height: 6.2vh;
  position: absolute;
  left: 27px;
  top: 1vh;
  overflow: hidden;
}
.nick:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick3 {
  background: #b5fa8a;
  width: 18.5vw;
  height: 6.2vh;
  position: absolute;
  left: 27px;
  top: 8vh;
  overflow: hidden;
}
.nick3:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick4 {
  background: #b5fa8a;
  width: 18.5vw;
  height: 6.2vh;
  position: absolute;
  left: 27px;
  top: 15vh;
  overflow: hidden;
}
.nick4:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick5 {
  background: #b5fa8a;
  width: 18.5vw;
  height: 6.2vh;
  position: absolute;
  left: 27px;
  top: 22vh;
  overflow: hidden;
}
.nick5:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick6 {
  background: #b5fa8a;
  width: 18.5vw;
  height: 6.2vh;
  position: absolute;
  left: 27px;
  top: 29vh;
  overflow: hidden;
}
.nick6:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.nick7 {
  background: #b5fa8a;
  width: 18.5vw;
  height: 6.2vh;
  position: absolute;
  left: 29px;
  top: 36vh;
  overflow: hidden;
}
.nick7:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
/* 회원가입 버튼 배경 css*/
.buttonfull {
  width: 120px;
  height: 43px;
  position: absolute;
  left: 33px;
  top: 516px;
}
/* 회원가입 버튼 글씨 css*/
.buttonfulll {
  background-color: #146300;
  border: #acff5a;
  color: #ffffff;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  border: #d5ff3f;
  left: 32px;
  top: 44vh;
  width: 7vw;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;     
}
.buttonfulll:hover {
  transform: scale(1.1);     
  transition: transform 0.3s ease;
}


