
.ConTop{
    background: #febb69;
    width: 416px;
    height: 378px;
    position: absolute;
    left: 819px;
    top: 302px;
    overflow: hidden;
  }
  .diiaq {
    width: 99px;
    height: 43px;
    position: absolute;
    left: 30px;
    top: 317px;
    overflow: visible;
  }
  .OPPa {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-Bold", sans-serif;
    font-size: 17.538890838623047px;
    line-height: 25.06px;
    font-weight: 700;
    position: absolute;
    left: 63px;
    top: 325px;
  }
  .diiovb {
    background: #ffe479;
    width: 350px;
    height: 45px;
    position: absolute;
    left: 30px;
    top: 70px;
    overflow: hidden;
  }
  .inpuuyt {
    background: var(--gray-00, #ffffff);
    border-radius: 2px;
    border-style: solid;
    border-color: var(--gray-100, #e4e7e9);
    border-width: 1px;
    padding: 14px 20px 14px 20px;
    width: 362px;
    height: 13px;
    font-size: 30px;
    position: absolute;
    left: -3px;
    top: 0px;
  }
  .aaiiqe {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    position: absolute;
    left: 30px;
    top: 26px;
  }
  .framee1 {
    background: #ffffff;
    width: 350px;
    height: 45px;
    position: absolute;
    left: 30px;
    top: 167px;
    overflow: hidden;
  }
  .framee2 {
    background: #ffffff;
    width: 350px;
    height: 45px;
    position: absolute;
    left: 30px;
    top: 247px;
    overflow: hidden;
  }
  .rectangle32 {
    background: #929292;
    width: 84px;
    height: 43px;
    position: absolute;
    left: 296px;
    top: 317px;
  }
  .aoids {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-Bold", sans-serif;
    font-size: 17.538890838623047px;
    line-height: 25.06px;
    font-weight: 700;
    position: absolute;
    left: 293px;
    height: 50px;
    top: 315px;
    width: 90px;
  }
  .ojasd {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-Bold", sans-serif;
    font-size: 17.538890838623047px;
    line-height: 25.06px;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 139px;
  }
  .asd1av {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-Bold", sans-serif;
    font-size: 17.538890838623047px;
    line-height: 25.06px;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 219px;
  }
  .framee3 {
    width: 800px;
    height: 66px;
    position: absolute;
    left: 637px;
    top: 207px;
    overflow: hidden;
  }
  .asdffz {
    color: #000000;
    text-align: center;
    font-family: "PublicSans-SemiBold", sans-serif;
    font-size: 30px;
    line-height: 28px;
    font-weight: 600;
    position: absolute;
    left: 314px;
    top: 19px;
  }