/* 로그인 회원가입 css창 버튼 */
/* 로그인 회원가입 css창 버튼 */
.tal {
  background: var(--gray-00, #ffffff);
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 10px;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 375px);
  box-shadow: inset 0px -3px 0px 0px rgb(213, 213, 213),
    inset 0px 1px 0px 0px rgba(228, 231, 233, 1),
    inset 1px 0px 0px 0px rgba(228, 231, 233, 1);
}
.tal2 {
  background: var(--gray-00, #ffffff);
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 10px;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 375px);
  box-shadow: inset 0px -1px 0px 0px rgba(218, 218, 218, 1),
    inset 0px 1px 0px 0px rgba(228, 231, 233, 1),
    inset 1px 0px 0px 0px rgba(228, 231, 233, 1);
}
  
.tabframe {
  width: 400px;
  left: 400px;

}
  /*-------------- 로그인 / 회원가입 부분 --------------------- */





  .loginfull1 {
    background: var(--gray-00, #ffffff);
    border-radius: 7%;
    width: 30vw;
    height: 40vh;
    left: 40vw;
    top: 30vh;
    position: fixed;
    box-shadow: var(
      --dropdown-shadow-box-shadow,
      0px 8px 40px 0px rgba(0, 0, 0, 0.12)
    );
    overflow: hidden;
  }

  .line-29 {
    margin-top: -1px;
    border-style: solid;
    border-color: var(--gray-100, #e4e7e9);
    border-width: 1px 0 0 0;
    width: 424px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 60px;
  }
  .tabtop {
    background: #8bfe80;
    display: flex;
    width: 100;
    height: 20%;
    left: 20vw;
    top: 10px;
  }
  .orderid1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 27vw;
    position: relative;
    left: 41vw;
    top: 40vh;
  }
  .email-address {
    color: var(--gray-900, #191c1f);
    text-align: left;
    height: 2vh;
    font-family: var(
      --body-small-400-font-family,
      "PublicSans-Regular",
      sans-serif
    );
    font-size: var(--body-small-400-font-size, 30px);
    position: relative;
  }
  .inputfield1 {
    background: var(--gray-00, #ffffff);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--gray-100, #73da43);
    border-width: 1px;
    padding: 14px 10px 20px 10px;
    align-self: stretch;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    font-size: 20px;
  }
  .inputfield1:hover {
    box-shadow: 0 15px 30px rgba(154, 208, 100, 0.8);
  }
  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .password {
    color: var(--gray-900, #191c1f);
    text-align: left;
    height: 2vh;
    font-family: var(
      --body-small-400-font-family,
      "PublicSans-Regular",
      sans-serif
    );
    font-size: var(--body-small-400-font-size, 30px);
    position: relative;
  }
  .forget-password {
    color: var(--secondary-500, #2da5f3);
    text-align: left;
    bottom: -1vh;
    height: 3vh;
    background-color: #ffffff;
    font-family: var(
      --body-small-500-font-family,
      "PublicSans-Medium",
      sans-serif
    );
    font-size: var(--body-small-500-font-size, 24px);
    line-height: var(--body-small-500-line-height, 20px);
    font-weight: var(--body-small-500-font-weight, 500);
    position: relative;
  }
.forget-password:hover {
  transform: scale(1.1);     
  transition: transform 0.3s ease;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
  .regular-eye {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: calc(50% - 10px);
    overflow: visible;
  }
  .button1 {
    overflow: hidden;
    border-radius: 2px;
    padding: 0px 24px 0px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20vw;
    height: 5vh;
    left: 45vw;
    top: 63vh;

    font-family: var(--heading-07-font-family, "PublicSans-Bold", sans-serif);
    font-size: var(--heading-07-font-size, 34px);
    line-height: var(--heading-07-line-height, 48px);
    letter-spacing: var(--heading-07-letter-spacing, 0.012em);
    font-weight: var(--heading-07-font-weight, 700);
    text-align: left;
    background-color: #55eb45;
    box-shadow: 0px 4px 8px rgba(88, 245, 140, 0.884);
    border: none;
  }
  .button1:hover::before {

    content: '';
  position: absolute;
  top: 0;
  left: 10vw;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.818), rgba(255, 255, 255, 0));
  animation: shine 1s infinite; /* 애니메이션 적용 */
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  }
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%; /* 빛이 요소를 지나가며 오른쪽 끝까지 이동 */
  }  
}
@-webkit-keyframes shine {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		left: 125%;
		opacity: 0;
	}
}
  .regular-arrow-right {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
  }

.divv {
    color: #000000;
    font-weight: var(--body-xl-600-font-weight, 600);
    position: fixed;
    left: 52vw;
    font-size: 30px;
    top: 31vh;
    font-size: 50px;
}

.from {
  width: 20vw;
  top: 20vh;
}
  


