.frame_ba {
    width: 692px;
    height: 66px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
  .divr {
    color: #000000;
    text-align: center;
    font-family: "PublicSans-SemiBold", sans-serif;
    font-size: 30px;
    line-height: 28px;
    font-weight: 600;
    position: absolute;
    left: 190px;
    top: 19px;
  }
  .frame-baa {
    background: #dcffcd;
    width: 23vw;
    height: 36vh;
    position: fixed;
    left: 39.5vw;
    top: 36vh;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .dodop {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-Bold", sans-serif;
    font-size: 17.538890838623047px;
    line-height: 25.06px;
    font-weight: 700;
    position: absolute;
    left: 74px;
    top: 304px;
  }
  .dodopp {
    background: #94fd83;
    border: #94fd83;
    width: 360px;
    height: 6.5vh;
    position: absolute;
    left: 30px;
    top: 125px;
    overflow: hidden;
  }
.dodopp:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
  .inputcode {
    background: var(--gray-00, #ffffff);
    border-radius: 2px;
    border-style: solid;
    border-color: var(--gray-100, #e4e7e9);
    border-width: 1px;
    padding: 14px 20px 14px 20px;
    width: 362px;
    height: 43px;
    position: absolute;
    left: 0px;
    top: 39px;
  }
  .codefill {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 25.06px;
    font-weight: 600;
    position: absolute;
    left: 8px;
    top: 2px;
  }
  .dropa {
    color: #000000;
    text-align: left;
    font-family: "PublicSans-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 25.06px;
    font-weight: 600;
    position: absolute;
    left: 30px;
    top: 26px;
  }