.framee {
  background: #d7fdcb;;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 22vw;
  height: 368px;
  position: absolute;
  left: 40vw;
  top: 36vh;
  overflow: hidden;
}

.diii{
  background-color: #8affc6;
  color: #000000;
  text-align: left;
  border: none;
  border-radius: 10%;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 17.538890838623047px;
  line-height: 25.06px;
  font-weight: 700;
  position: absolute;
  left: 2vw;
  top: 29vh;
  height: 50px;
  width: 120px;
}
.diii:hover {
  transform: scale(1.1);     
  transition: transform 0.3s ease;
}
.input-field {
  background: var(--gray-00, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 362px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 27px;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17.538890838623047px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  left: 6px;
  top: 1px;
}
.divoopr {
  background: #b6f19a;
  width: 18.3vw;
  height: 6.1vh;
  position: absolute;
  left: 30px;
  top: 10vh;
  overflow: hidden;
}
.divoopr:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.divo {
  background: #b6f19a;
  width: 18.3vw;
  height: 6.1vh;
  position: absolute;
  left: 30px;
  top: 18vh;
  overflow: hidden;
}
.divo:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.divq {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 17.538890838623047px;
  line-height: 25.06px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 26px;
}
.divop {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 45vw;
  top: 26vh;
}
.mainframe {
  background: #a0f097;
  border-radius: 4px;
  border-style: solid;
  border-color: #7bf8ff;
  border-width: 3px;
  height: 61vh;
  width: 30vw;
  position: fixed;
  box-shadow: 0px 4px 4px 0px rgb(72, 255, 243);
  overflow: hidden;
  left: 36vw;
  top: 19vh;
}