.frame-504,
.frame-504 * {
  box-sizing: border-box;
}
.frame-504 {
  background: #ffffff;
  height: 617px;
  top: 300px;
  left: 300px;
  position: relative;
  overflow: hidden;
}
.rectangle-3111142 {
  background: #d9d9d9;
  width: 243px;
  height: 617px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-3111156 {
  background: linear-gradient(
    179.91deg,
    rgba(217, 168, 115, 1) 0%,
    rgba(235, 142, 142, 1) 100%
  );
  width: 1141px;
  height: 617px;
  position: absolute;
  left: 243px;
  top: 0px;
}
.fontclass {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  width: 242px;
  height: 78px;
  left: 1px;
  top: 0px;
}
.my {
  background: #000000;
  width: 242px;
  height: 78px;
  position: absolute;
  left: 1px;
  top: 88px;
  overflow: hidden;
}
.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 47px;
  top: 25px;
}
.buy {
  background: #000000;
  width: 242px;
  height: 78px;
  position: absolute;
  left: 1px;
  top: 175px;
  overflow: hidden;
}
.div3 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 25px;
}
.my-fridge {
  background: #000000;
  width: 242px;
  height: 78px;
  position: absolute;
  left: 1px;
  top: 267px;
  overflow: hidden;
}
.div4 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 49px;
  top: 25px;
}
.interest {
  background: #000000;
  width: 242px;
  height: 78px;
  position: absolute;
  left: 1px;
  top: 354px;
  overflow: hidden;
}
.div5 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 93px;
  top: 25px;
}
.myrecipecss {
  background: #000000;
  width: 242px;
  height: 78px;
  position: absolute;
  left: 0px;
  top: 445px;
  overflow: hidden;
}
.div6 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 80px;
  top: 25px;
}
.myinquiry {
  background: #000000;
  width: 242px;
  height: 78px;
  position: absolute;
  left: 1px;
  top: 539px;
  overflow: hidden;
}
.div7 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 62px;
  top: 25px;
}
.macto1 {
  background: #756464;
  width: 172px;
  height: 73px;
  position: absolute;
  left: 340px;
  top: 5px;
  overflow: hidden;
}
.mactoclor1 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 50px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: -36px;
  top: 22px;
  width: 243px;
}
.macto2 {
  background: #d9a873;
  width: 99px;
  height: 31px;
  position: absolute;
  left: 522px;
  top: 47px;
  overflow: hidden;
}
.mactoclor2 {
  color: #0e6bff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  height: 30px;
  left: 6px;
  top: 1px;
}
.macto3 {
  background: #ffffff;
  width: 80px;
  height: 25px;
  position: absolute;
  left: 631px;
  top: 50px;
  overflow: hidden;
}
.mactoclor3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 25px;
}
.macto4 {
  width: 77px;
  height: 71px;
  position: absolute;
  left: 1141px;
  top: 34px;
  overflow: visible;
}
.macto5 {
  background: #ffffff;
  width: 104px;
  height: 29px;
  position: absolute;
  left: 1223px;
  top: 34px;
  overflow: hidden;
}
.mactoclor4 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
}
.macto6{
  background: #ffffff;
  width: 223px;
  height: 222px;
  position: absolute;
  left: 880px;
  top: 34px;
  overflow: hidden;
}
.image {
  width: 223px;
  height: 171px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.profiledd {
  background: #d9d9d9;
  width: 223px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 171px;
}
.mactoclor5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 13px;
  top: 183px;
}
.macto7 {
  background: #d9d9d9;
  width: 50px;
  height: 30px;
  position: absolute;
  left: 170px;
  top: 185px;
  overflow: hidden;
}
.macto8 {
  width: 40px;
  height: 27px;
  position: absolute;
  left: 1px;
  top: 0px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 10px;
  color: #0700d0;
}
.macto9 {
  width: 470px;
  height: 345px;
  position: absolute;
  left: 343px;
  top: 114px;
  overflow: hidden;
}
.inputilebox1 {
  background: var(--gray-00, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 86px;
  top: 118px;
}
.inputilebox2 {
  background: var(--gray-00, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 86px;
  top: 176px;
}
.inputilebox3 {
  background: var(--gray-00, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 86px;
  top: -1px;
}
.inputilebox4 {
  background: var(--gray-00, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 86px;
  top: 305px;
}
.inputilebox5 {
  background: var(--gray-00, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 86px;
  top: 238px;
}
.inputilebox6 {
  background: var(--gray-00, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 85px;
  top: 61px;
}
.macto11 {
  width: 241px;
  height: 617px;
  position: absolute;
  left: 1px;
  top: 0px;
  overflow: hidden;
}
.macto12 {
  width: 86px;
  height: 346px;
  position: absolute;
  left: 343px;
  top: 114px;
  overflow: hidden;
}
.namedd {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 239px;
}
.namedd2 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 306px;
}
.namedd3 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 177px;
}
.namedd4 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 62px;
}
.namedd5 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 119px;
}
.namedd6 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mactoclor6 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 6px;
  top: 69px;
  width: 75px;
}
.mactoclor7 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 12px;
  top: 245px;
  width: 56px;
}
.mactoclor8 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 6px;
  top: 312px;
  width: 75px;
}
.mactoclor9 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 22px;
  top: 183px;
  width: 37px;
}
.mactoclor10 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif

  );
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 15px;
  top: 6px;
  width: 56px;
}
.mactoclor11 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 15px;
  top: 125px;
  width: 56px;
}
