.frame-504,
.frame-504 * {
  box-sizing: border-box;
}

.frame-504 {
  height: 67vh;
  top: 20vh;
  width: 80vw;
  left: 14vw;
  position: relative;
  overflow: hidden;
}

.rectangle-3111142 {
  background: linear-gradient(179.91deg, rgb(49, 81, 24) 0%, rgb(23, 75, 13) 100%);
  width: 12.66vw;
  height: 58.2vh;
  position: fixed;
  left: 14vw;
  top: 20vh;
  border-radius: 10%;
  animation-name: check;
  animation: pulseAnimation 2s infinite;
}

@keyframes check {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.rectangle-3111156 {
  background: linear-gradient(179.91deg, rgb(218, 252, 192) 0%, rgb(105, 219, 83) 100%);
  height: 58.2vh;
  top: 20vh;
  width: 70vw;
  left: 14vw;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.myacount {
  background: #000000;
  width: 12.6vw;
  height: 7.22vh;
  position: absolute;
  left: 0.052vw;
  top: 0vh;
  overflow: hidden;
  border-radius: 25px;
}

.fontclass {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  width: 12.6vw;
  height: 7.22vh;
  left: 0.052vw;
  top: 0vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fontclass:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: wave 1s infinite;
}

@keyframes wave {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.my {
  background: #000000;
  width: 12.6vw;
  height: 7.22vh;
  position: absolute;
  left: 0.052vw;
  top: 8.15vh;
  overflow: hidden;
  border-radius: 25px;
}

.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 47px;
  top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buy {
  background: #000000;
  width: 12.6vw;
  height: 7.22vh;
  position: absolute;
  left: 0vw;
  top: 16.20vh;
  overflow: hidden;
  border-radius: 25px;
}

.div3 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-fridge {
  background: #000000;
  width: 12.6vw;
  height: 7.22vh;
  position: absolute;
  left: 0.052vw;
  top: 24.72vh;
  overflow: hidden;
  border-radius: 25px;
}

.div4 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 49px;
  top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.interest {
  background: #000000;
  width: 12.6vw;
  height: 7.22vh;
  position: absolute;
  left: 0.052vw;
  top: 32.78vh;
  overflow: hidden;
  border-radius: 25px;
}

.div5 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 93px;
  top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.myrecipecss {
  background: #000000;
  width: 12.6vw;
  height: 7.22vh;
  position: absolute;
  left: 0vw;
  top: 41.20vh;
  overflow: hidden;
  border-radius: 25px;
}

.div6 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 80px;
  top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.myinquiry {
  background: #000000;
  width: 12.6vw;
  height: 7.22vh;
  position: absolute;
  left: 0.052vw;
  top: 49.91vh;
  overflow: hidden;
  border-radius: 25px;
}

.div7 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 62px;
  top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.macto1 {
  width: 10vw;
  height: 13vh;
  position: absolute;
  left: 16vw;
  top: 1vh;
  overflow: hidden;
}

.mactoclor1 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 50px;
  width: 10vw;
  height: 13vh;
  left: 30vw;
  top: 21vh;
  position: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.macto2 {
  width: 4.17vw;
  height: 2.31vh;
  position: absolute;
  left: 27.19vw;
  top: 4.63vh;
  overflow: hidden;
}

.macto2:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.mactoclor2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 0vw;
  top: 0vh;
  width: 4.17vw;
  height: 2.31vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mactoclor2:hover {
  color: #0700d0;
}

.macto3 {
  width: 4vw;
  height: 2.41vh;
  position: absolute;
  left: 32.81vw;
  top: 4.63vh;
  overflow: hidden;
}

.macto3:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.mactoclor3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mactoclor3:hover {
  color: red;
}

.macto4 {
  width: 4.01vw;
  height: 6.57vh;
  position: absolute;
  left: 59.32vw;
  top: 3.15vh;
  overflow: visible;
}

.macto5 {
  width: 5.19vw;
  height: 3.3vh;
  position: fixed;
  left: 78vw;
  top: 23vh;
  overflow: hidden;
}

.macto5:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.mactoclor4 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  height: 3.3vh;
  left: 0px;
  top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.macto6 {
  background: #ffffff;
  width: 11.60vw;
  height: 20.56vh;
  position: absolute;
  left: 45.83vw;
  top: 3.15vh;
  overflow: hidden;
}

.image {
  width: 11.60vw;
  height: 15.83vh;
  position: absolute;
  left: 0px;
  top: 0vh;
  object-fit: cover;
}

.profiledd {
  background: #d9d9d9;
  width: 11.60vw;
  height: 4.72vh;
  position: absolute;
  left: 0px;
  top: 15.83vh;
}

.mactoclor5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 13px;
  top: 16.94vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.macto7 {
  background: #d9d9d9;
  width: 2.60vw;
  height: 2.78vh;
  position: absolute;
  left: 8.85vw;
  top: 17.13vh;
  overflow: hidden;
}

.macto8 {
  width: 2.08vw;
  height: 2.50vh;
  position: absolute;
  left: 0.052vw;
  top: 0vh;
  overflow: hidden;
  font-size: 12px;
  font-weight: 10px;
  color: #0700d0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.macto8:hover {
  color: #0ed3ff;
}

.macto9 {
  width: 24.48vw;
  height: 31.94vh;
  position: absolute;
  left: 17.84vw;
  top: 10.56vh;
  overflow: hidden;
}

.inputilebox1 {
  background: var(--gray-00, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 20.06vw;
  height: 3.70vh;
  position: absolute;
  left: 4.48vw;
  top: 10.93vh;
}

.inputilebox2 {
  background: var(--gray-00, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 20.06vw;
  height: 3.70vh;
  position: absolute;
  left: 4.48vw;
  top: 16.30vh;

}

.inputilebox3 {
  background: var(--gray-00, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 20.06vw;
  height: 3.70vh;
  position: absolute;
  left: 4.48vw;
  top: -0.09vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.inputilebox3:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.inputilebox4 {
  background: var(--gray-00, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 22.06vw;
  height: 3.70vh;
  position: absolute;
  left: 4.48vw;
  top: 28.24vh;
}
.inputilebox4:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.inputilebox5 {
  background: var(--gray-00, #ffffff);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 20.06vw;
  height: 3.70vh;
  position: absolute;
  left: 4.48vw;
  top: 21.96vh;
}
.inputilebox5:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.inputilebox6 {
  background: var(--gray-00, #ffffff);
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-radius: 30px;
  border-width: 1px;
  padding: 14px 20px 14px 20px;
  width: 20.06vw;
  height: 3.70vh;
  position: absolute;
  left: 4.43vw;
  top: 5.65vh;
}
.inputilebox6:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.macto11 {
  width: 12.55vw;
  height: 57.13vh;
  position: absolute;
  left: 0.052vw;
  top: 0vh;
  overflow: hidden;
}

.macto12 {
  width: 4.48vw;
  height: 32.04vh;
  position: absolute;
  left: 17.84vw;
  top: 10.56vh;
  overflow: hidden;
}

.namedd {
  background-color: #000000;
  border-radius: 20px;
  width: 4.48vw;
  height: 3.70vh;
  position: absolute;
  left: 0vw;
  top: 22.13vh;
}

.namedd2 {
  background-color: #000000;
  border-radius: 20px;
  width: 4.48vw;
  height: 3.70vh;
  position: absolute;
  left: 0vw;
  top: 28.33vh;
}

.namedd3 {
  background-color: #000000;
  border-radius: 20px;
  width: 4.48vw;
  height: 3.70vh;
  position: absolute;
  left: 0vw;
  top: 16.39vh;
}

.namedd4 {
  background-color: #000000;
  border-radius: 20px;
  width: 4.48vw;
  height: 3.70vh;
  position: absolute;
  left: 0vw;
  top: 5.74vh;
}

.namedd5 {
  background-color: #000000;
  border-radius: 20px;
  width: 4.48vw;
  height: 3.70vh;
  position: absolute;
  left: 0vw;
  top: 10.99vh;
}

.namedd6 {
  background-color: #000000;
  border-radius: 20px;
  width: 4.48vw;
  height: 3.70vh;
  position: absolute;
  left: 0vw;
  top: 0vh;
}

.mactoclor6 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 0.31vw;
  top: 6.39vh;
  width: 3.91vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mactoclor7 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 0.625vw;
  top: 22.69vh;
  width: 2.92vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mactoclor8 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 0.31vw;
  top: 28.89vh;
  width: 3.91vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mactoclor9 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 1.15vw;
  top: 16.94vh;
  width: 1.93vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mactoclor10 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 0.78vw;
  top: 0.56vh;
  width: 2.92vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mactoclor11 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: var(--body-xl-600-font-size, 18px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 0.78vw;
  top: 11.57vh;
  width: 2.92vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
