.frame-524,
.frame-524 * {
  box-sizing: border-box;
}
.backlo1 {
  width: 1141px;
  height: 617px;
  left: 245px;
  position: relative;
  overflow: hidden;
}
.fr1 {
  background: linear-gradient(
    179.91deg,
    rgb(216, 216, 216) 0%,
    rgb(138, 138, 138) 100%
    );
    width: 1141px;
    height: 617px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.fr2 {
  background: linear-gradient(
    179.91deg,
    rgb(214, 214, 214) 20%,
    rgb(129, 129, 129) 60%,
    rgb(62, 62, 62) 100%
    );
  width: 1019px;
  height: 462px;
  position: absolute;
  left: 74px;
  top: 68px;
  overflow: hidden;
}
.fovr {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 12px;
  top: 11px;
}
.fr3 {
  background: #ffffff;
  width: 396px;
  height: 181px;
  position: absolute;
  left: 12px;
  top: 61px;
  overflow: hidden;
}
.fr4 {
  background: #c9c9c9;
  width: 58px;
  height: 27px;
  position: absolute;
  left: 266px;
  top: 0px;
  overflow: hidden;
}
.fr5 {
  width: 58px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.qa1 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 11px;
  top: 0px;
}
.qa2 {
  width: 266px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.ra1 {
  background: #d9d9d9;
  width: 266px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.qa3 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 2px;
  top: -1px;
}
.ra2 {
  background-color: #d6d6d6;
  width: 72px;
  height: 27px;
  position: absolute;
  left: 324px;
  top: 0px;
  overflow: hidden;
}
.ra4 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 18px;
  top: 0px;
}
.yq1 {
  width: 451px;
  height: 421px;
  position: absolute;
  left: 456px;
  top: 16px;
  overflow: hidden;
}
.yq2 {
  width: 457px;
  height: 421px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.yq3 {
  width: 451px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.yq4 {
  background: #ffffff;
  width: 451px;
  height: 381px;
  position: absolute;
  left: 0px;
  top: 35px;
  overflow: hidden;
}
.yq5 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 380px;
  width: 452px;
  text-align: left;

}
.yu6 {
  width: 451px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.yu1 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  width: 500px;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 0px;
}
.yu2 {
  width: 49px;
  height: 169px;
  position: absolute;
  left: 451px;
  top: 0px;
  overflow: hidden;
}
.yu3 {
  background: #d9d9d9;
  width: 62px;
  height: 35px;
  position: absolute;
  left: 907px;
  top: 51px;
}
.yu4 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 910px;
  top: 54px;
}
.yu4:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.ta1 {
  width: 82px;
  height: 35px;
  position: absolute;
  left: 907px;
  top: 86px;
  overflow: hidden;
}
.ta2 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 1px;
  text-align: left;
  top: 3px;
  width: 200px;
}
.ta2:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.ta3 {
  width: 82px;
  height: 28px;
  position: absolute;
  left: 907px;
  top: 121px;
  overflow: hidden;
}
.ta4 {
  background: #d9d9d9;
  width: 82px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ta5 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  text-align: left;
  left: 1px;
  top: 0px;
  width: 200px;
}
.ta5:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
