.frame-524,
.frame-524 * {
  box-sizing: border-box;
}

.backlo1 {
  width: 80vw;
  height: 70vh;
  left: 14vw;
  position: relative;
  overflow: hidden;
}

.fr2 {
  background: linear-gradient(
    179.91deg,
    rgb(218, 252, 192) 0%,
    rgb(105, 219, 83) 100%
  );
  position: fixed;
  overflow: hidden;
  height: 58.2vh;
  top: 20vh;
  width: 78vw;
  left: 14vw;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border: #d9d9d9;
}

.fovr {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 4vh;
  line-height: 2vh;
  font-weight: 600;
  position: absolute;
  left: 20vw;
  top: 2vh;
}

.fr3 {
  background: #ffffff;
  width: 28vw;
  height: 30vh;
  position: absolute;
  left: 0vw;
  top: 10vh;
  overflow: hidden;
}

.fr4 {
  background: #c9c9c9;
  width: 4vw;
  height: 4vh;
  position: absolute;
  left: 18vw;
  top: 0;
  overflow: hidden;
}

.fr5 {
  width: 4vw;
  height: 4vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.qa1 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 2vh;
  line-height: 2.8vh;
  font-weight: 600;
  position: absolute;
  left: 1vw;
  top: 0;
}

.qa2 {
  width: 18vw;
  height: 4vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.ra1 {
  background: #d9d9d9;
  width: 18vw;
  height: 4vh;
  position: absolute;
  left: 0;
  top: 0;
}

.qa3 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 2vh;
  line-height: 2.8vh;
  font-weight: 600;
  position: absolute;
  left: 0.2vw;
  top: -0.2vh;
}

.ra2 {
  background-color: #d6d6d6;
  width: 5vw;
  height: 4vh;
  position: absolute;
  left: 22vw;
  top: 0;
  overflow: hidden;
}

.ra4 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 2vh;
  line-height: 2.8vh;
  font-weight: 600;
  position: absolute;
  left: 1.5vw;
  top: 0;
}

.yq1 {
  width: 28vw;
  height: 52vh;
  position: absolute;
  left: 29vw;
  top: 2vh;
  overflow: hidden;
}

.yq4 {
  width: 28vw;
  height: 45vh;
  position: absolute;
  left: 0vw;
  top: 5vh;
  overflow: hidden;
}

.yq5 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 2vh;
  position: absolute;
  left: 0vw;
  top: 0;
  height: 45vh;
  width: 28vw;
  text-align: left;
}

.yu1 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 2vh;
  line-height: 2.8vh;
  font-weight: 600;
  width: 28vw;
  text-align: left;
  position: absolute;
  left: 0vw;
  top: 0;
}

.yu2 {
  width: 3vw;
  height: 25vh;
  position: absolute;
  left: 32vw;
  top: 0;
  overflow: hidden;
}

.yu4 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.5vh;
  line-height: 2.8vh;
  font-weight: 600;
  position: absolute;
  left: 57.5vw;
  top: 5vh;
}

.yu4:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.ta1 {
  width: 6vw;
  height: 5vh;
  position: absolute;
  left: 57vw;
  top: 8vh;
  overflow: hidden;
}

.ta2 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.5vh;
  line-height: 2.8vh;
  font-weight: 600;
  position: absolute;
  left: 0.5vw;
  text-align: left;
  top: 0.5vh;
  width: 5vw;
}

.ta2:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.ta5 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.5vh;
  line-height: 2.8vh;
  font-weight: 600;
  position: fixed;
  text-align: left;
  left: 85.5vw;
  top: 32vh;
  width: 5vw;
}

.ta5:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
