.frame-500,
.frame-500 * {
  box-sizing: border-box;
}
.ManagerpageQna {
    height: 1020px;
}
.mainbody {
  width: 82.5vw;
  height: 74.07vh;
  top: 18.52vh;
  left: 10.42vw;
  position: relative;
}

.qq01 {
  background: #000000;
  width: 12.63vw;
  height: 7.22vh;
  position: absolute;
  left: 0.05vw;
  top: 50.0vh;
  overflow: hidden;
}

.qq02 {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 2.08vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  width: 11.63vw;
  height: 7.22vh;
  left: 0.05vw;
  top: 0;
}

.ploq1 {
  background: #ffffff;
  border-radius: 0px 0px 0.56vh 0.56vh;
  padding: 4.63vh 6.35vw 4.63vh 6.35vw;
  height: 57.07vh;
  width: 47.42vw;
  left: 16.16vw;
  top: 0;
  position: relative;
  box-shadow: 0.16vw 0.39vh 1.0vh 1vh rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.ploq2 {
  background: #ffffff;
  width: 22.98vw;
  height: 6.94vh;
  position: absolute;
  left: 1.93vw;
  top: 2.31vh;
  overflow: hidden;
}

.ploq3 {
  background-color: #1f762f;
  border-radius: 0.93vh;
  padding: 0.56vh 0.52vw 0.56vh 0.52vw;
  display: flex;
  flex-direction: row;
  gap: 0.52vw;
  align-items: center;
  justify-content: center;
  width: 4.17vw;
  position: absolute;
  left: 37.32vw;
  top: 58.03vh;
  box-shadow: 0.05vw 0.37vh 0.37vh 0.06vh rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: white;
  text-align: center;
}
.ploq3:hover {
  background-color: rgb(239, 255, 92);
}

.ploqlia {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1vw;
  line-height: 2.59vh;
  font-weight: 600;
  flex: 1;
  background-color: transparent;
  border: none;
}
.ploq5:hover {
  background-color: rgb(239, 255, 92);
}
 
.ploq4 {
  border-radius: 0.93vh;
  padding: 0.56vh 0.37vw 0.56vh 0.37vw;
  display: flex;
  flex-direction: row;
  gap: 0.52vw;
  align-items: center;
  justify-content: center;
  width: 4.96vw;
  position: absolute;
  transition: background-color 0.3s ease;
  left: 14vw;
  top: 48.03vh;
  box-shadow: 0.05vw 0.37vh 0.37vh 0.06vh rgba(0, 0, 0, 0.25);
  
  overflow: hidden;
}
.ploq4:hover {
  background-color: rgb(0, 221, 255);
}
.ploq4:active {
  background-color: rgb(38, 144, 170);
} 
.conma1 {
  border-radius: 0.93vh;
  padding: 0.56vh 0.1vw 0.56vh 0.1vw;
  width: 5vw;
  height: 3vh;
  position: absolute;
  left: 21vw;
  top: 48.03vh;
  box-shadow: 0.05vw 0.37vh 0.37vh 0.06vh rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}
.conma1:hover {
  background-color: red;
}
.conma1:active {
  background-color: rgb(127, 24, 24);
} 
.conma2 {
  color: #000000;
  background-color: transparent;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  font-size: 1vw;
  position: absolute;
  left: 0.1vw;
  top: 0.56vh;
  width: 5vw;
  overflow: hidden;
  border: none;
}
.conma2:active {
  background-color: rgb(127, 24, 24);
} 

.conma3 {
  width: 21.54vw;
  height: 20.06vh;
  position: absolute;
  left: 54vw;
  top: 7vh;
  overflow: hidden;
}

.conma5 {
  background: #ffffff;
  width: 20.67vw;
  height: 5vh;
  position: absolute;
  left: 0vw;
  top: 1vh;
  overflow: hidden;
}

.conma7 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.56vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 0.68vw;
  top: 1.02vh;
}

.conma6 {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 3.95vw;
  top: 1.02vh;
}

.conma8 {
  background: #ffffff;
  width: 20.67vw;
  height: 5.63vh;
  position: absolute;
  left: 0vw;
  top: 6.57vh;
  overflow: hidden;
}

.conma9 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.56vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 0.73vw;
  top: 1.02vh;
}

.conma10 {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 4.06vw;
  top: 1.02vh;
}

.conma11 {
  background: #ffffff;
  width: 4vw;
  height: 6vh;
  position: absolute;
  left: 18vw;
  top: 6vh;
  overflow: hidden;
}
.conma12 {
  background-color: #50a32f;
  border: none;
  border-radius: 15%;
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1vw;
  line-height: 2.59vh;
  font-weight: 600;
  width: 3vw;
  height: 4vh;
  position: absolute;
  left: 0.21vw;
  top: 1.11vh;
  transition: background-color 0.3s ease;
}
.conma12:hover {
  background-color: #1f762f;
}

.conma13 {
  background: #ffffff;
  border-radius: 0.83vh 0.83vh 0 0;
  width: 60.54vw;
  height: 7.22vh;
  position: absolute;
  left: -0.21vw;
  top: 0;
  box-shadow: 0.16vw 0.19vh 0.37vh 0.11vh rgb(49, 122, 0);
  overflow: hidden;
}

.conma14 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 2.08vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 1.25vw;
  top: 2.31vh;
}

.conma15 {
  background: #ffffff;
  width: 20.1vw;
  height: 3.7vh;
  position: absolute;
  left: 6.56vw;
  top: 35vh;
  box-shadow: 0.16vw 0.19vh 0.37vh 0 rgba(0, 0, 0, 0.25);
}

.conma16 {
  background: #ffffff;
  width: 20.1vw;
  height: 3.7vh;
  position: absolute;
  left: 6.56vw;
  top: 40.92vh;
  box-shadow: 0.16vw 0.19vh 0.37vh 0 rgba(0, 0, 0, 0.25);
}

.conma17 {
  background: #ffffff;
  width: 20.1vw;
  height: 3.7vh;
  position: absolute;
  left: 6.42vw;
  top: 29vh;
  box-shadow: 0.16vw 0.19vh 0.37vh 0 rgba(0, 0, 0, 0.25);
}

.conma18 {
  background: #d9d9d9;
  width: 4.48vw;
  height: 3.7vh;
  position: absolute;
  left: 2.08vw;
  top: 41.67vh;
  box-shadow: 0.05vw 0.37vh 0.19vh 0 rgba(0, 0, 0, 0.25);
}

.conma19 {
  background: #d9d9d9;
  width: 4.48vw;
  height: 3.7vh;
  position: absolute;
  left: 2.08vw;
  top: 47.92vh;
  box-shadow: 0.05vw 0.37vh 0.19vh 0 rgba(0, 0, 0, 0.25);
}

.conma20 {
  background: #d9d9d9;
  width: 4.48vw;
  height: 3.7vh;
  position: absolute;
  left: 1.93vw;
  top: 36.11vh;
  box-shadow: 0.05vw 0.37vh 0.19vh 0 rgba(0, 0, 0, 0.25);
}

.conma21 {
  color: #000000;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 2.31vw;
  top: 41.57vh;
  width: 4.17vw;
  height: 3.7vh;
}

.conma22 {
  color: #000000;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 2vw;
  top: 35.85vh;
  width: 4.17vw;
  height: 3.7vh;
}

.conma23 {
  color: #000000;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 2.5vw;
  top: 29.95vh;
  width: 4.17vw;
  height: 3.7vh;
}

.conma24 {
  background: #ffffff;
  width: 20.1vw;
  height: 3.7vh;
  position: absolute;
  left: 6.56vw;
  top: 17.28vh;
  box-shadow: 0.16vw 0.19vh 0.37vh 0 rgba(0, 0, 0, 0.25);
}

.conma25 {
  background: #ffffff;
  width: 20.1vw;
  height: 3.7vh;
  position: absolute;
  left: 6vw;
  top: 10.58vh;
  box-shadow: 0.16vw 0.19vh 0.37vh 0 rgba(0, 0, 0, 0.25);
  margin: 10px
}

.conma26 {
  background: #d9d9d9;
  width: 4.48vw;
  height: 3.7vh;
  position: absolute;
  left: 2.08vw;
  top: 19.58vh;
  box-shadow: 0.05vw 0.37vh 0.19vh 0 rgba(0, 0, 0, 0.25);
}

.conma27 {
  color: #000000;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: 1vw;
  line-height: 1.39vh;
  font-weight: 600;
  position: absolute;
  left: 2.3vw;
  top: 18.4vh;
  width: 4vw;
  height: 3vh;
}

.conma28 {
  background: #d9d9d9;
  width: 4.48vw;
  height: 3.7vh;
  position: absolute;
  left: 2.08vw;
  top: 25.28vh;
  box-shadow: 0.05vw 0.37vh 0.19vh 0 rgba(0, 0, 0, 0.25);
}

.conma29 {
  color: #000000;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 2vw;
  top: 23.74vh;
  width: 4.17vw;
  height: 3.7vh;
}

.conma30 {
  background: #ffffff;
  width: 20.1vw;
  height: 3.7vh;
  position: absolute;
  left: 6.56vw;
  top: 23vh;
  box-shadow: 0.16vw 0.19vh 0.37vh 0 rgba(0, 0, 0, 0.25);
}

.conma31 {
  background: #d9d9d9;
  width: 4.48vw;
  height: 3.7vh;
  position: absolute;
  left: 2.08vw;
  top: 30.56vh;
  box-shadow: 0.05vw 0.37vh 0.19vh 0 rgba(0, 0, 0, 0.25);
}

.conma32 {
  color: #000000;
  text-align: center;
  font-family: var(--body-xl-600-font-family, "PublicSans-SemiBold", sans-serif);
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 2.2vw;
  top: 12.11vh;
  width: 4.17vw;
  height: 3.7vh;
}

.conma33 {
  background: #ffffff;
  border-radius: 0 0 0.46vh 0.46vh;
  width: 27.3vw;
  height: 30.19vh;
  position: absolute;
  left: 28.21vw;
  top: 25.93vh;
  box-shadow: 0.1vw 0.37vh 0.37vh 0.16vh rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.conma34 {
  background: #c9c9c9;
  width: 3.02vw;
  height: 2.5vh;
  position: absolute;
  left: 20.49vw;
  top: 0;
  overflow: hidden;
}

.conma35 {
  width: 3.02vw;
  height: 2.5vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.conma36 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 0.57vw;
  top: 0;
}

.conma37 {
  width: 20.49vw;
  height: 2.5vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.conma38 {
  background: #9f9f9f;
  width: 20.49vw;
  height: 2.5vh;
  position: absolute;
  left: 0;
  top: 0;
}

.conma39 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 0.10vw;
  top: -0.09vh;
}

.conma40 {
  width: 3.75vw;
  height: 2.5vh;
  position: absolute;
  left: 23.51vw;
  top: 0;
  overflow: visible;
}

.conma41 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 2.45vw;
  top: 0;
}

.conma42 {
  width: 5.31vw;
  height: 4.07vh;
  position: absolute;
  left: 28.30vw;
  top: 20.03vh;
}

.conma43 {
  background-color: #50a32f;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 1.04vw;
  line-height: 2.59vh;
  font-weight: 600;
  position: absolute;
  left: 28.18vw;
  top: 21.63vh;
  transition: background-color 0.3s ease;
}
.conma43:hover {
  background-color: #1f762f;
}
