.frame-500,
.frame-500 * {
  box-sizing: border-box;
}
.ManagerpageQna {
    height: 1020px;
}
.mainbody {
  width: 1200px;
  height: 800px;
  top: 200px;
  left: 200px;
  position: relative;
}
.qq01 {
  background: #000000;
  width: 242px;
  height: 78px;
  position: absolute;
  left: 1px;
  top: 539px;
  overflow: hidden;
}
.qq02 {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  width: 242px;
  height: 78px;
  left: 1px;
  top: 0px;
}

.ploq1 {
  background: #ffffff;
  border-radius: 0px 0px 6px 6px;
  padding: 25px 37px 25px 37px;
  height: 617px;
  width: 1060px;
  left: 248px;
  top: 0px;
  position: relative;
  box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ploq2 {
  background: #ffffff;
  width: 441px;
  height: 75px;
  position: absolute;
  left: 37px;
  top: 25px;
  overflow: hidden;
}
.ploq3 {
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 80px;
  position: absolute;
  left: 754px;
  top: 205px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ploq5 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.ploq4 {
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 7px 6px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 95px;
  position: absolute;
  left: 856px;
  top: 205px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.conma1 {
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 2px 6px 2px;
  width: 88px;
  height: 40px;
  position: absolute;
  left: 970px;
  top: 205px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.conma2 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 2px;
  top: 6px;
  width: 84px;
}
.conma3 {
  background: #ffffff;
  width: 1141px;
  height: 87px;
  position: absolute;
  left: 0px;
  top: 83px;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.conma4 {
  background: #d9d9d9;
  width: 1141px;
  height: 87px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.conma5 {
  background: #ffffff;
  width: 320px;
  height: 50px;
  position: absolute;
  left: 14px;
  top: 17px;
  overflow: hidden;
}
.conma7 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 13px;
  top: 11px;
}
.conma6 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 95px;
  top: 11px;
}
.conma8 {
  background: #ffffff;
  width: 320px;
  height: 50px;
  position: absolute;
  left: 365px;
  top: 17px;
  overflow: hidden;
}
.conma9 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 14px;
  top: 11px;
}
.conma10 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 78px;
  top: 11px;
}
.conma11 {
  background: #ffffff;
  width: 64px;
  height: 53px;
  position: absolute;
  left: 722px;
  top: 17px;
  overflow: hidden;
}
.conma12 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 4px;
  top: 12px;
}
.conma13 {
  background: #000000;
  border-radius: 15px 15px 0px 0px;
  width: 1141px;
  height: 78px;
  position: absolute;
  left: -4px;
  top: 0px;
  box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.conma14 {
  color: #ffffff;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 24px;
  top: 25px;
}
.conma15 {
  background: #ffffff;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 126px;
  top: 450px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.conma16 {
  background: #ffffff;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 126px;
  top: 517px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.conma17 {
  background: #ffffff;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 123px;
  top: 388px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.conma18 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 450px;
  box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.conma19 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 517px;
  box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.conma20 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 37px;
  top: 388px;
  box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.conma21 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 20px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 52px;
  top: 456px;
  width: 80px;
  height: 40px;
}
.conma22 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 20px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 46px;
  top: 523px;
  width: 80px;
  height: 40px;
}
.conma23 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 20px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 59px;
  top: 394px;
  width: 80px;
  height: 40px;
}
.conma24 {
  background: #ffffff;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 126px;
  top: 273px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.conma25 {
  background: #ffffff;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 126px;
  top: 211px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.conma26 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 211px;
  box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.conma27 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 20px);
  line-height: var(--body-xl-600-line-height, 15px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 55px;
  top: 214px;
  width: 80px;
  height: 40px;
}
.conma28 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 273px;
  box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.conma29 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 20px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 46px;
  top: 279px;
  width: 80px;
  height: 40px;
}
.conma30 {
  background: #ffffff;
  width: 385px;
  height: 40px;
  position: absolute;
  left: 126px;
  top: 330px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.conma31 {
  background: #d9d9d9;
  width: 86px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 330px;
  box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.25);
}
.conma32 {
  color: #000000;
  text-align: center;
  font-family: var(
    --body-xl-600-font-family,
    "PublicSans-SemiBold",
    sans-serif
  );
  font-size: var(--body-xl-600-font-size, 20px);
  line-height: var(--body-xl-600-line-height, 28px);
  font-weight: var(--body-xl-600-font-weight, 600);
  position: absolute;
  left: 55px;
  top: 336px;
  width: 80px;
  height: 40px;
}
.conma33 {
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  width: 523px;
  height: 326px;
  position: absolute;
  left: 541px;
  top: 280px;
  box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.conma34 {
  background: #c9c9c9;
  width: 58px;
  height: 27px;
  position: absolute;
  left: 393px;
  top: 0px;
  overflow: hidden;
}
.conma35 {
  width: 58px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.conma36 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 11px;
  top: 0px;
}
.conma37 {
  width: 393px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.conma38 {
  background: #9f9f9f;
  width: 393px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.conma39 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 2px;
  top: -1px;
}
.conma40 {
  width: 72px;
  height: 27px;
  position: absolute;
  left: 451px;
  top: 0px;
  overflow: visible;
}
.conma41 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 469px;
  top: 0px;
}
.conma42 {
  background: #d9d9d9;
  width: 102px;
  height: 44px;
  position: absolute;
  left: 543px;
  top: 205px;
}
.conma43 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 554px;
  top: 213px;
}
