.o01,
.o01 * {
  box-sizing: border-box;
}
.o01 {
  background: #ffffff;
  border-radius: 0px 0px 6px 6px;
  padding: 25px 37px 25px 37px;
  height: 617px;
  position: relative;
  box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  top: 0px;
  left: 255px;
}
.o02 {
  background: #ffffff;
  width: 441px;
  height: 75px;
  position: absolute;
  left: 37px;
  top: 25px;
  overflow: hidden;
}
.o03 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 50px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 128px;
  top: 23px;
}
.o04 {
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 76px;
  position: absolute;
  left: 724px;
  top: 62px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.o05 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.o06 {
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 7px 6px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 88px;
  position: absolute;
  left: 826px;
  top: 62px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.o07 {
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 2px 6px 2px;
  width: 88px;
  height: 40px;
  position: absolute;
  left: 940px;
  top: 62px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.o08 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 2px;
  top: 6px;
  width: 84px;
}
.o09 {
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  width: 523px;
  height: 326px;
  position: absolute;
  left: 37px;
  top: 129px;
  box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.o10 {
  background: #c9c9c9;
  width: 58px;
  height: 27px;
  position: absolute;
  left: 393px;
  top: 0px;
  overflow: hidden;
}
.o11 {
  width: 58px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.o12 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 11px;
  top: 0px;
}
.o13 {
  width: 393px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.o14 {
  background: #9f9f9f;
  width: 393px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.o15 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 2px;
  top: -1px;
}
.o16 {
  width: 72px;
  height: 27px;
  position: absolute;
  left: 451px;
  top: 0px;
  overflow: visible;
}
.o17 {
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 469px;
  top: 0px;
}
.o18 {
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  width: 451px;
  height: 421px;
  position: absolute;
  left: 584px;
  top: 129px;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.o19 {
  width: 451px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 70px;
  overflow: hidden;
}
.o20 {
  background: #d9d9d9;
  width: 451px;
  height: 37px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.o21{
  color: #000000;
  text-align: center;
  font-family: "PublicSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 11px;
  top: 4px;
}